<app-navbar-admin></app-navbar-admin>

<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">EmpId</th>
                
                <th scope="col">Leave Type</th>
                <th scope="col">Remarks</th>
                <th scope="col">From-Date</th>
                <th scope="col">To-Date</th>
                <th scope="col">Apply-Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td>{{i.empid}}</td>
               
                <td>{{i.leavetype}}</td>
                <td>{{i.remarks}}</td>
                <td>{{i.from_date}}</td>
                <td>{{i.to_date}}</td>
                <td>{{i.apply_date}}</td>
                <td>{{i.status}}</td>
                <td> <button (click)="readValue(i.empid,i.id)" class="btn btn-info">Accept</button></td>
                <td> <button (click)="rejectValue(i.empid,i.id)" class="btn btn-danger">Reject</button> </td>
               
              </tr>
            </tbody>
          </table>
            

        </div>
    </div>
</div>


