<app-navbar-emp></app-navbar-emp>
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                <label for="" class="form-label"><h3>Remaining Leaves</h3> </label>
                

            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <table class="table table-bordered border-dark">
                  <thead>
                    <tr>
                      <th scope="col">Casual</th>
                      <th scope="col">Sick</th>
                      <th scope="col">Other</th>
                      
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{data[0].casual}}</td>
                      <td>{{data[0].sick}}</td>
                      <td>{{data[0].other}}</td>
                     
                     
                    </tr>
                  </tbody>
                </table>
                  
      
              </div>

        </div>
    </div>
</div>
