<app-navbar-emp></app-navbar-emp>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 m-4">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <label for="" class="form-label"><h3>To View Your Leave Status</h3> </label>
                    

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                   
                    <label for="" class="form-label"><h5>Click the button below</h5> </label>

                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readValue()" class="btn btn-success">Status</button>

                </div>
            
            
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" *ngFor="let i of statusvalue">

                    <label for="" class="form-label">Leave Status</label>
                    <input type="text" class="form-control" *ngIf="i.status==0;else accepted" value="pending">
                    <ng-template #accepted>
                        <ng-container>
                            <input type="text" class="form-control" *ngIf="i.status==-1" value="rejected">
                        </ng-container>
        
                     
                        <input type="text" class="form-control" *ngIf="i.status==1" value="Accepted">
                    </ng-template>


                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <label for="" class="form-label"><h3>Remaining Leaves</h3> </label>
                    

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <table class="table table-bordered border-dark">
                      <thead>
                        <tr>
                          <th scope="col">Casual</th>
                          <th scope="col">Sick</th>
                          <th scope="col">Other</th>
                          
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of searchValue">
                          <td>{{i.leavetype}}</td>
                          <td>{{i.sick}}</td>
                          <td>{{i.other}}</td>
                         
                         
                        </tr>
                      </tbody>
                    </table>
                      
          
                  </div>
                
                
            </div>
        </div>
    </div>
</div>
