<app-home-navbar></app-home-navbar>
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

      <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img height="400px" src="https://www.nestdigital.com/images/banner3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>DISRUPTIVE TRANSFORMATION SERVICES</h5>
                  <p>A spectrum of services and solutions to accelerate your Digital transformation journey</p>
                </div>
              </div>
              <div class="carousel-item">
                <img height="400px" src="https://www.nestdigital.com/images/banner1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>ENGINEERING TRANSFORMATION</h5>
                  <p>Exponential value creation by transforming your legacy Business,Customers and Operation models through Innovative Digital Technologies</p>
                </div>
              </div>
              <div class="carousel-item">
                <img height="400px" src="https://www.nestdigital.com/images/banner2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>DIGITAL PLATFORMS</h5>
                  <p>We combine our deep domain expertise,reusable digital platforms and complimentary services to deliver world class 
                    solutions that brings Outstanding success for our customers
                  </p> 
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

              <h3>INDUSTRIES</h3>

        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-50 w-50" >
                <img src="https://img.freepik.com/premium-vector/health-care-logo_18099-31.jpg?w=2000" alt="nestdigital" width="130" height="114">
                <div class="card-body">
                  <h5 class="card-title">Health Care</h5>
                  
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-50 w-50.5" >
                <img src="https://thumbs.dreamstime.com/b/car-logo-transportation-vector-142583713.jpg" alt="Transportation" width="110" height="124">
                <div class="card-body">
                  <h5 class="card-title">Transportation</h5>
                  
                </div>
              </div>
            </div>
          
            <div class="col">
              <div class="card h-50 w-50.5" >
                <img src="https://static.vecteezy.com/system/resources/previews/005/373/128/original/power-industrial-logo-engineering-industry-logo-vector.jpg" alt="nestdigital" width="100" height="124">
                <div class="card-body">
                  <h5 class="card-title">Power &Industial</h5>
                  
                </div>
              </div>
            </div>
                

        </div>

      </div>
      

    </div>
  </div>
</div>
