<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nest Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/emplogin"><img height="30" src="https://www.nestdigital.com/images/logo.svg"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/empadd">Add Employ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewemp">View All Employ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/searchemp">Search-Delete Employ</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link"  routerLink="/addsecurity" >Add Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/viewsecurity" >View All Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/viewallleave" >Leave Management</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login Details
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/viewemplog"> ViewAll EmpLog</a></li>
              <li><a class="dropdown-item" routerLink="/viewvisitorlog">ViewAll VisitorLog</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/dailyemplog">ViewAll Daily EmpLog</a></li>
              <li><a class="dropdown-item" routerLink="/dailyvisitorlog">ViewAll Daily VisitorLog</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/admin" >Logout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
